@font-face {
    font-family: 'Yaro Rg';
    src: url("/css/YaroRg.ttf") format("ttf");
}

* {
    font-family: 'Yaro Rg';
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(98, 20, 170);
    font-size: 20px;
    color: #f5bc00;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
    transition: all 0,3s ease 0s;
    color: #f5bc00;
}

.nav__links li:hover{
    color: #f58b00;
}

.hobbies {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 4px;
}

.hobbies p {
    display: block;
}

span{
    display: inline-block;
    animation: mover 2s linear infinite;
}

.urgay {
    text-align: center;
    font-size: 100px;
}

span:nth-child(1) {
    color: red;
    padding-right: 30px;
    animation-delay: 0.1s;
}
span:nth-child(2) {
    color: rgb(245, 200, 0);
    padding-right: 30px;
    animation-delay: 0.3s;
}
span:nth-child(3) {
    color: green;
    animation-delay: 0.5s;
}
span:nth-child(4) {
    color: blue;
    animation-delay: 0.7s;
}
span:nth-child(5) {
    color: purple;
    animation-delay: 0.9s;
}

@keyframes mover{
    0%{
        text-shadow: 0 0 40px rgba(0,0,0,0);
    }
    50%{
        text-shadow: 0 0 40px rgba(0,0,0,0.30);
        transform: translateY(40px);
    }
    100%{
        text-shadow: 0 0 40px rgba(0,0,0,0);
    }

}

.clicker_div {
    width: 655px;
    margin: auto;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #f5bc00;
}

.clicker_div button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.5s ease;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

.clicker_div button:hover {
    background-color: lightslategrey ;
}

.clicker_div p{
    font-size: 30px;
}

.anime_afkr {
    width: 655px;
    margin: auto;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    background-color: #f5bc00;
}

.anime_afkr .buttons {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.5s ease;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

.anime_afkr button:hover {
    background-color: lightslategrey ;
}

.anime_afkr p{
    font-size: 20px;
}
